@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	body,
	input,
	select,
	textarea,
	.normal-color {
		@apply text-gray-100;
	}

	body,
	input[type="text"],
	input[type="number"],
	input[type="date"],
	select,
	textarea,
	.opaque {
		@apply bg-main-bg;
	}

	input[type="text"],
	input[type="number"],
	input[type="date"],
	select,
	textarea {
		@apply rounded border border-gray-500 px-0.5;
	}

	a {
		@apply text-blue-300 underline;
	}

	summary {
		@apply cursor-pointer select-none underline;
	}

	h1 {
		@apply text-3xl;
	}

	h2 {
		@apply text-2xl;
	}

	h3 {
		@apply text-xl;
	}

	h4 {
		@apply text-lg;
	}

	p + p {
		@apply mt-0.5;
	}

	.odd-rows {
		@apply odd:bg-main-bg-1;
	}

	.even-rows {
		@apply even:bg-main-bg-1;
	}

	.odd-bg {
		@apply bg-main-bg-1;
	}

	button:disabled {
		@apply cursor-not-allowed opacity-70;
	}

	button,
	.button-default {
		@apply rounded border border-gray-300 px-2 py-0 cannot-hover:py-2;
	}

	.button-nothing-to-do {
		@apply animate-nothing-to-do border-black bg-green-500 text-black;
	}

	.button-something-to-do {
		@apply border-black bg-yellow-400 text-black;
	}

	.button-lots-to-do {
		@apply border-black bg-orange-300 text-black;
	}

	.button-next-action-here {
		@apply animate-next-action-here border-black bg-cyan-200 text-black;
	}

	.border-default {
		@apply border border-gray-300;
	}

	.border-subtle {
		@apply border border-gray-600;
	}

	.markdown td,
	.markdown th {
		@apply border-default px-2;
	}

	.markdown tbody tr {
		@apply odd-rows;
	}

	.markdown hr {
		@apply my-1;
	}

	.markdown ul {
		@apply list-disc;
	}

	.markdown ol {
		@apply list-decimal;
	}

	.markdown li {
		@apply ml-4;
	}

	.vignette {
		background-color: #00000088;
	}

	.no-vignette {
		background-color: #00000000;
	}
}
